{% extends 'store/layouts/main.html' %}
{% load static tailwind_tags %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="{% static '/style.css' %}"> -->
    {% tailwind_css %}
</head>
<body>
  <div class="bg-gray-500 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold text-center mb-6">Registration Form </h2>
      <form action="{% url 'register' %}" method="POST" class="space-y-4">
        {% csrf_token %}
        <!-- Username Field -->
        <div>
          <label for="{{form.username.id_for_label}}" class="block text-sm font-medium text-gray-700">Username:</label>
          <input type="text" id="{{form.username.id_for_label}}" name="{{form.username.name}}" placeholder="Enter Username" required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            {% if form.errors.username %}
            <label class="text-red-500">{{form.errors.username}}</label>
            {% endif %}
        </div>
  
        <!-- Email Field -->
        <div>
          <label for="{{form.email.id_for_label}}" class="block text-sm font-medium text-gray-700">Email:</label>
          <input type="email" id="{{form.email.id_for_label}}" name="{{form.email.name}}" placeholder="Enter email" required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        {% if form.errors.email %}
        <label class="text-red-500">{{form.errors.email}}</label>
        {% endif %}
        </div>
  
        <!-- Password Field -->
        <div>
          <label for="{{form.password1.id_for_label}}" class="block text-sm font-medium text-gray-700">Password:</label>
          <input type="password" id="{{form.password1.id_for_label}}" name="{{form.password1.name}}" placeholder="Enter password" required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        {% if form.errors.password1 %}
        <label class="text-red-500">{{form.errors.password1}}</label>
        {% endif %}
        </div>
  
        <!-- Confirm Password Field -->
        <div>
          <label for="{{form.password2.id_for_label}}" class="block text-sm font-medium text-gray-700">Confirm Password:</label>
          <input type="password" id="{{form.password2.id_for_label}}" name="{{form.password2.name}}" placeholder="Confirm password" required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            {% if form.errors.password2 %}
            <label class="text-red-500">{{form.errors.password2}}</label>
            {% endif %}
        </div>
  
        <!-- Submit Button -->
        <div>
          <button type="submit"
            class="w-full bg-green-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-green-600 transition duration-300">
            Register
          </button>
        </div>
        <a href="{% url 'login' %}" class="mt-4 text-xl underline text-blue-500 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Log in</a>
      </form>
    </div>
  </div>
   
  </body>
</html>
{%  endblock %}
