{% extends 'store/layouts/main.html' %}
{% load static tailwind_tags %}
{% block content %}


    
    
<!-- Breadcrumb -->
<div class="py-4 text-xl bg-blue-600 dark:bg-blue-700">
    <div class="container mx-auto">
        <a class="text-white hover:underline" href="{% url 'home' %}">Home /</a>
        <a class="text-white hover:underline" href="{% url 'collections' %}">Collections</a>
    </div>
</div>

<!-- Page Content -->
<div class="bg-gray-200 text-gray-400 dark:bg-gray-800 py-10 flex-grow min-h-[calc(100vh-16rem)] py-6">
    <div class="text-center">
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-6">
            {% for item in category %}
            <div class="category-image-container bg-white border-[0.1px] dark:border-gray-900 border-gray-200 dark:bg-gray-900 shadow-lg rounded-lg overflow-hidden">
                <a href="{% url 'collectview' item.slug %}">
                    <div class="p-3">
                        <h3 class="text-left text-lg font-bold text-black dark:text-white">{{ item.name }}</h3>
                    </div>
                    <div>
                        <div class="category-image">
                            <img src="{{ item.image.url }}" alt="Category Image" class="w-full h-64 object-contain">
                        </div>
                    </div>
                    <div class="p-3">
                        <h3 class="text-left text-md text-blue-500 dark:text-blue-400 underline">
                            <a href="#">see offer</a>
                        </h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
